<footer class="footer-area01 left col-12">
    <div class="row">
        <div class="footer-control">
            <div class="sa-gotop ste">
                <h2><i class="fa fa-angle-double-up ste"></i></h2>
            </div>
            
            <div class="left col-12 list-n">
                <ul class="footer-ul">
                    <li>
                        <h4 class="footer-heading">About Us</h4>
                        <p><!--Welcome to the Hoitalent one of the best jobPortal.
                            We are a social service provider that enhances your interest on Hoitalent
                             that helps you to find out the job of your type. -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ut voluptas minus, tempora velit nemo expedita optio voluptatum consectetur qui ducimus nulla similique eaque, nihil aut distinctio vero iure! Beatae ullam ad soluta autem? </p>
                    </li>
                    <li>
                        <h4 class="footer-heading">Stay in Touch</h4>
                        <div class="stay-tch-area left col-12">
                            <a ><i class="fa fa-envelope" id="ftrspl"></i>dks7677034@gmail.com</a>
                            <a ><i class="fa fa-mobile"></i>+91 821-939-4213</a>
                            <a ><i class="fa fa-home"></i><div style="overflow:hidden;">V.P.O Jakhera Distt Una (HP)</div></a>
                            <a ><i class="fa fa-globe"></i>www.Mr.Dhiman.com</a>
                        </div>
                    </li>
                    <li>
                        <h4 class="footer-heading">Social Networking</h4>
                        <div class="social-area left col-12">
                            <a ><i class="fa fa-facebook-square"></i><div style="overflow:hidden;">Facebook<br/><span class="social-text-link">www.facebook.com/Mr.Dhiman</span></div></a>
                            <a ><i class="fa fa-twitter-square"></i><div style="overflow:hidden;">Twitter<br/><span class="social-text-link">www.twitter.com/Mr.Dhiman</span></div></a>
                            <a ><i class="fa fa-square" style="position:relative;">
                            <i class="fa fa-comments" style="font-size:12px; color:#ffffff; position:absolute; left:0px; top:2px;"></i></i><div style="overflow:hidden;">WeChat<br/><span class="social-text-link">WeChat/Mr.Dhiman</span></div></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        
    </div>
</footer>
<footer class="footer-area02 left col-12">
    <div class="row">
        <div class="left col-12 align-c">
            <span>&copy;2021 Hoitelant All rights reserved. &nbsp;I&nbsp;  <a >Terms & Conditions</a>  &nbsp;I&nbsp;  <a >FAQ</a></span>
        </div>
    </div>
</footer>
