<app-header></app-header>
<section class="home_slide">
    <div class="row">
        <div class="left col-12">
            <div class="slidemain_area">
                <div class="left slide_search">
                    <form #searchbox="ngForm" (ngSubmit)="onSearch(searchbox.value)">
                        <input class="search01" type="text" autocomplete="off" value=""
                            placeholder="Search Job Type,job Location, Company Name" name="searchJob" ngModel
                            #searchbox="ngModel">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="main-content-area left col-12">
    <div class="row">
        <div class="left col-12">
            <div class="mca-left-area left">


                <div class="filter-area-main">
                    <!-- <div class="heading01">
                        <h4>Filter For More Detail</h4>
                    </div> -->
                    <div class="filter-area left">

                        <div id="accordion">
                            <h3>Job location Available</h3>
                            <div class="">
                                <div class="left col-12 checkbox-area01" *ngFor="let job of filterJob_location ">
                                    <h4 style="margin-left:  10px;">
                                        -> {{job.com_location}}
                                    </h4>
                                </div>

                            </div>
                            <h3> Experience Wise Jobs Available</h3>
                            <div class="">
                                <div class="left col-12 checkbox-area01" *ngFor="let exp of filter_experience">
                                    <h4 style="margin-left:  10px;">
                                        -> {{exp.experince}}
                                    </h4>
                                </div>
                            </div>

                            <h3>Job Type Available</h3>
                            <div class="">
                                <div class="left col-12 checkbox-area01" *ngFor="let job of filterjob ">
                                    <h4 style="margin-left:  10px;">
                                        -> {{job.jobtype}}
                                    </h4>
                                </div>

                            </div>

                            <h3>companies Name</h3>
                            <div class="">
                                <div class="">
                                    <div class="left col-12 checkbox-area01" *ngFor="let job of filter_compname ">
                                        <h4 style="margin-left:  10px;">
                                            -> {{job.com_name}}
                                        </h4>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div> <!-- filter-area-main -->

                <div class="links-area-main left col-12">
                    <a routerLink="/Hotarticle">
                        <div class="links-area list-n left">
                            <ul class="links-area-ul">

                                <li><a class="hot-articles"> Hot Articles </a></li>
                                <li>- How to write a CV </li>
                                <li>- How to apply GE </li>
                                <li>- How to pass interview </li>

                            </ul>
                        </div>
                    </a>
                </div> <!-- links-area-main -->

            </div>

            <div *ngIf="getsearchedJob?.length" class="mca-right-area left">
                <div class="heading03 left col-12">
                    <a class="left headings" href="">Searched Jobs</a>
                    <a class="right text-underline" (click)="getalljobs()">See All Jobs</a>
                </div>
                <div class="left col-12 jobs-area list-n">

                    <ul class="jobs-area-ul">

                        <li *ngFor="let job of getsearchedJob | slice:0:10">
                            <a (click)="jobdetail(job._id)">
                                <div class="jobs-area-ul-dv">
                                    <div class="left jobs-area-ul-left-area">
                                        <i class="sa-fire"></i>
                                        <div style="overflow:hidden;">
                                            <a href="#">Job Title :{{job.jobname}}</a>
                                            <p>
                                                <span class="span01">
                                                    <span class="sa-bold">Company</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.com_name}}</span>
                                                </span>
                                            </p>
                                            <p>

                                                <span class="span01">
                                                    <span class="sa-bold">Job type</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.jobtype}}</span>
                                                </span><br>
                                            </p>
                                            <p>

                                                <span class="span01">
                                                    <span class="sa-bold">Due Date</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.Due_date}}</span>
                                                </span>
                                            </p>

                                            <p>
                                                <span>
                                                    <span class="sa-bold">3-word pitch</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.word_pitch}}</span>
                                                </span>
                                            </p>
                                            <p>
                                                <span>
                                                    <span class="sa-bold">Job Description</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.job_description | slice:0:130}}</span>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="right jobs-area-ul-right-area res-img">
                                        <img src="assets/images/shell.png" />

                                    </div>

                                </div>
                            </a>
                        </li>


                    </ul>

                    <div *ngIf="getsearchedJob.length >10" class="left col-12 sa-pagination-main">
                        <ul class="sa-pagination">
                            <li class="sa-active"><span>1</span></li>
                            <li><a routerLink="/joblist">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div *ngIf="!getsearchedJob?.length " class="mca-right-area left">
                <div class="heading03 left col-12">
                    <a class="left headings" href="">Key Featured Jobs</a>
                    <a class="right " routerLink="/joblist">See All Key Featured Jobs</a>
                </div>
                <h2 *ngIf="!joblist?.length" style="color: rebeccapurple; line-height:50px;margin-left: 40%;"> Sorry, No job
                    Availvable !!</h2>
                <div class="left col-12 jobs-area list-n">

                    <ul class="jobs-area-ul jobs-area-ul-spl">
                        <li *ngFor="let jobs of getfeaturedjob | slice:0:3">
                            <a (click)="jobdetail(jobs._id)">
                                <div class="jobs-area-ul-dv">
                                    <div class="left jobs-area-ul-left-area">
                                        <i class="sa-fire"></i>
                                        <div style="overflow:hidden;">
                                            <a>Job Title : {{jobs.jobname}}</a>
                                            <p>
                                                <span class="span01">
                                                    <span class="sa-bold">Company</span>
                                                    <span class="span02">:</span>
                                                    <span>{{jobs.com_name}}</span>
                                                </span>
                                            </p>
                                            <p>

                                                <span class="span01">
                                                    <span class="sa-bold">Job type</span>
                                                    <span class="span02">:</span>
                                                    <span>{{jobs.jobtype}}</span>
                                                </span><br>
                                            </p>
                                            <p>

                                                <span class="span01">
                                                    <span class="sa-bold">Due Date</span>
                                                    <span class="span02">:</span>
                                                    <span>{{jobs.Due_date}}</span>
                                                </span>
                                            </p>

                                            <p>
                                                <span>
                                                    <span class="sa-bold">3-word pitch</span>
                                                    <span class="span02">:</span>
                                                    <span>{{jobs.word_pitch}}</span>
                                                </span>
                                            </p>
                                            <p>
                                                <span>
                                                    <span class="sa-bold">Job Description</span>
                                                    <span class="span02">:</span>
                                                    <span>{{jobs.job_description | slice:0:130}}</span>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="right jobs-area-ul-right-area res-img">
                                        <img src="assets/images/shell.png" />

                                    </div>
                                </div>
                            </a>
                        </li>


                    </ul>

                    <ul class="jobs-area-ul">

                        <li *ngFor="let job of getunfeaturedjob | slice:0:6">
                            <a (click)="jobdetail(job._id)">
                                <div class="jobs-area-ul-dv">
                                    <div class="left jobs-area-ul-left-area">
                                        <i class="sa-fire"></i>
                                        <div style="overflow:hidden;">
                                            <a href="#">Job Title :{{job.jobname}}</a>
                                            <p>
                                                <span class="span01">
                                                    <span class="sa-bold">Company</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.com_name}}</span>
                                                </span>
                                            </p>
                                            <p>

                                                <span class="span01">
                                                    <span class="sa-bold">Job type</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.jobtype}}</span>
                                                </span><br>
                                            </p>
                                            <p>

                                                <span class="span01">
                                                    <span class="sa-bold">Due Date</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.Due_date}}</span>
                                                </span>
                                            </p>

                                            <p>
                                                <span>
                                                    <span class="sa-bold">3-word pitch</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.word_pitch}}</span>
                                                </span>
                                            </p>
                                            <p>
                                                <span>
                                                    <span class="sa-bold">Job Description</span>
                                                    <span class="span02">:</span>
                                                    <span>{{job.job_description | slice:0:130}}</span>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="right jobs-area-ul-right-area res-img">
                                        <img src="assets/images/shell.png" />
                                    </div>
                                </div>
                            </a>
                        </li>


                    </ul>

                    <div *ngIf="joblist.length > 6" class="left col-12 sa-pagination-main">
                        <ul class="sa-pagination">
                            <li class="sa-active"><span>1</span></li>
                            <li><a routerLink="/joblist">Next</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>